In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [76]:
import os

cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
print("Files in %r: %s" % (cwd, files))

Files in 'c:\\Users\\Rick-Royal\\Documents\\Strathmore University Data Science and Analytics\\DMSR': ['.Rhistory', 'assignment scraping.Rmd', 'data_streams.html', 'data_streams.Rmd', 'dmsr_1.ipynb', 'dmsr_data_cleaning.ipynb', 'DSA 8102 Course outline.pdf', 'DSA 8102 Intro to R.pdf', 'DSA 8102 OOP.pdf', 'DSA 8102 slides01_Data Mining Concepts.pdf', 'DSA 8102_ Pre-processing.pdf', 'dsa_dataCleaning.ipynb', 'east_africa.csv', 'introduction_to_py.pdf', 'Percentage_Distribution_of_Population_by_type_of_Disability_County_Estimates2005_6.csv', 'quiz.docx', 'sample_1.csv', 'slides01_Data Mining Concepts.pdf', 'web_scrapping (1).nb.html', 'web_scrapping (1).Rmd', 'web_scrapping--1-.tex', 'web_scrapping.html', 'web_scrapping.Rmd']

In [102]:
safaricom = pd.read_csv(r"C:\Users\Rick-Royal\Documents\saf_shares.csv")
safaricom

   Unnamed: 0        Date      Volume  Close  Change Change.
0           1  2022-07-01  15,171,700  25.05    0.10  +0.40%
1           2  2022-06-30   8,554,700  24.95    0.05  +0.20%
2           3  2022-06-29   1,840,500  24.90    1.55  +6.64%
3           4  2022-06-28   4,773,300  23.35    0.20  +0.86%
4           5  2022-06-27   4,577,100  23.15    0.05  +0.22%
5           6  2022-06-24  36,145,200  23.10   -0.40  -1.70%
6           7  2022-06-23     502,800  23.50    0.05  +0.21%
7           8  2022-06-22  30,606,100  23.45   -0.55  -2.29%
8           9  2022-06-21  15,713,500  24.00   -0.35  -1.44%
9          10  2022-06-20     801,800  24.35     NaN     NaN

## Data Exploration

In [92]:
# Checking the first rows of the dataset
safaricom.head()

   Unnamed: 0        Date      Volume  Close  Change Change.
0           1  2022-07-01  15,171,700  25.05    0.10  +0.40%
1           2  2022-06-30   8,554,700  24.95    0.05  +0.20%
2           3  2022-06-29   1,840,500  24.90    1.55  +6.64%
3           4  2022-06-28   4,773,300  23.35    0.20  +0.86%
4           5  2022-06-27   4,577,100  23.15    0.05  +0.22%

In [93]:
# Checking the last five rows 
safaricom.tail()

   Unnamed: 0        Date      Volume  Close  Change Change.
5           6  2022-06-24  36,145,200  23.10   -0.40  -1.70%
6           7  2022-06-23     502,800  23.50    0.05  +0.21%
7           8  2022-06-22  30,606,100  23.45   -0.55  -2.29%
8           9  2022-06-21  15,713,500  24.00   -0.35  -1.44%
9          10  2022-06-20     801,800  24.35     NaN     NaN

In [94]:
# Checking the columns in the dataset
safaricom.columns

Index(['Unnamed: 0', 'Date', 'Volume', 'Close', 'Change', 'Change.'], dtype='object')

In [95]:
# Checking the shape of the dataset
safaricom.shape

(10, 6)

In [96]:
safaricom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   Date        10 non-null     object
 2   Volume      10 non-null     object
 3   Close       10 non-null     float64
 4   Change      9 non-null      float64
 5   Change.     9 non-null      object
dtypes: float64(2), int64(1), object(3)
memory usage: 608.0+ bytes

In [103]:
# Changing the data type of volume column to float
safaricom['Volume'] = pd.to_numeric(safaricom['Volume']).astype('Int64')
safaricom

ValueError: Unable to parse string "15,171,700" at position 0

In [98]:
# Changing the data type of change. column to float
safaricom['Change.'] = pd.to_numeric(safaricom['Change.'], errors='coerce').astype('float')
safaricom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   Date        10 non-null     object
 2   Volume      0 non-null      Int64
 3   Close       10 non-null     float64
 4   Change      9 non-null      float64
 5   Change.     0 non-null      float64
dtypes: Int64(1), float64(3), int64(1), object(1)
memory usage: 618.0+ bytes

In [99]:
# Checking a brief analysis of continuous data in the dataset
safaricom.describe()

       Unnamed: 0 Volume      Close    Change  Change.
count    10.00000      0  10.000000  9.000000      0.0
mean      5.50000   <NA>  23.980000  0.077778      NaN
std       3.02765   <NA>   0.777532  0.611408      NaN
min       1.00000   <NA>  23.100000 -0.550000      NaN
25%       3.25000   <NA>  23.375000 -0.350000      NaN
50%       5.50000   <NA>  23.750000  0.050000      NaN
75%       7.75000   <NA>  24.762500  0.100000      NaN
max      10.00000   <NA>  25.050000  1.550000      NaN

In [13]:
# Checking for unique values
safaricom.nunique()

Unnamed: 0    10
Date          10
Volume        10
Close         10
Change         7
Change.        9
dtype: int64

## Data cleaning

In [32]:
# Check if the entire data set has any Null values
safaricom.isnull().values.any()

True

In [33]:
# Checking which columns have Null values
safaricom.isna().any()

Unnamed: 0    False
Date          False
Volume        False
Close         False
Change         True
Change.        True
dtype: bool

In [36]:
# Dropping row that has null values
safaricom.dropna()

   Unnamed: 0        Date      Volume  Close  Change Change.
0           1  2022-07-01  15,171,700  25.05    0.10  +0.40%
1           2  2022-06-30   8,554,700  24.95    0.05  +0.20%
2           3  2022-06-29   1,840,500  24.90    1.55  +6.64%
3           4  2022-06-28   4,773,300  23.35    0.20  +0.86%
4           5  2022-06-27   4,577,100  23.15    0.05  +0.22%
5           6  2022-06-24  36,145,200  23.10   -0.40  -1.70%
6           7  2022-06-23     502,800  23.50    0.05  +0.21%
7           8  2022-06-22  30,606,100  23.45   -0.55  -2.29%
8           9  2022-06-21  15,713,500  24.00   -0.35  -1.44%

In [51]:
sns.boxplot(x=safaricom['Volume'])

TypeError: Horizontal orientation requires numeric `x` variable.

In [ ]:
# Dropping an unnecessary column
safaricom.drop('Unnamed: 0', inplace=True, axis=1)
safaricom